@use "colors";

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 90vh;
    padding-top: 60px;

    font-family: 'Merriweather', serrif;
    font-size: 16px;

    background-color: colors.$gray-dark;
}

.adventure-terminal {
    width: 60%;
    max-width: 500px;
    margin: auto;
}

.title {
    color: colors.$gray-title;
    font-size: 24px;
    font-family: 'Merriweather', serrif;
    text-align: center;
}

.console {
    display: flex;
    flex-direction: column;

    background-color: colors.$gray-light;
}

.adventure-text {
    height: 250px;
    border-bottom: 4px solid colors.$mint-primary;

    padding: 16px 40px;

    overflow-y: auto;
}

.ending-message {
    color: colors.$gray-light;
    border: 2px solid colors.$mint-accent;
    padding: 24px 24px;
}

.the-end {
    color: colors.$gray-title;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-top: 25px;
    text-align: center;
}

.terminal-wrapper {
    display: flex;
    flex-direction: column;

    height: 140px;
    padding: 8px 40px;
}

.action-text {
    text-align: center;
}

.terminal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    border: none;
    outline: none;
    margin-top: auto;
    padding: 12px 40px;

    background-color: colors.$white;

    font-family: 'Merriweather', serrif;
    font-size: 18px;
}

.terminal::placeholder {
    color: colors.$gray-faint;
    opacity: 1;
}

.info-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: colors.$mint-primary;

    p {
        font-size: 14px;
        color: colors.$mint-accent;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
}
